<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.covid.mapper.ChartMapper">
	<!-- 최근 7일간 확진자 정보 조회 -->
	<select id="get7DaysResult" resultType="ResultVO" parameterType="String">
		SELECT * FROM (
			SELECT * FROM covid_result
			WHERE location = #{location} AND DATE(result_date)
			ORDER BY result_date DESC
			LIMIT 7
		) AS RESULT
		ORDER BY RESULT.result_date
	</select>
	
	<!-- 최근 4주간 확진자 정보 조회 -->
	<select id="get4WeeksResult" resultType="ResultVO" parameterType="String">
		SELECT * FROM (
			SELECT * FROM covid_result
			WHERE location = #{location} AND DATE(result_date)
			ORDER BY result_date DESC
			LIMIT 28
		) AS RESULT
		ORDER BY RESULT.result_date
	</select>
	
	<!-- 최근 12개월간 확진자 정보 조회 -->
	<select id="get12MonthsResult" resultType="ResultVO" parameterType="String">
		SELECT * FROM (
			SELECT left(result_date, 7) AS result_date, location, SUM(increment_count) AS increment_count, MAX(total_count) AS total_count
			FROM covid_result
			WHERE location = #{location} AND DATE(result_date)
			GROUP BY location, left(result_date, 7)
			ORDER BY result_date DESC
			LIMIT 12
		) AS RESULT
		ORDER BY RESULT.result_date
	</select>
</mapper>




