<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.covid.mapper.ChatbotMapper">

	<select id="getOneResult" resultType="ResultVO"
		parameterType="ResultVO">
		SELECT * FROM covid_result
		WHERE result_date=#{date} and location=#{location}
	</select>
	
	<select id="getOneLive" resultType="LiveVO" parameterType="String">
		SELECT * FROM covid_live
		WHERE live_date=#{date}
	</select>
	
	<select id="getLocLive" resultType="int" parameterType="hashmap">
		SELECT ${location} FROM covid_live 
		WHERE live_date=#{date}
	</select>
	
	<select id="getAllCenter" resultType="CenterVO">
		SELECT * FROM covid_vaccine_center
	</select>

	<select id="getLocCenter" resultType="CenterVO" parameterType="String">
		SELECT * FROM covid_vaccine_center 
		WHERE location=#{location}
	</select>
	
	<select id="getTownCenter" resultType="CenterVO" parameterType="String">
	SELECT * FROM covid_vaccine_center 
	WHERE center_name LIKE CONCAT('%',#{location},'%')
	</select>
	
	
	<select id="getAllResult" resultType="ResultVO"
		parameterType="String">
		SELECT * FROM covid_result
	</select>

	<select id="getBetweenResult" resultType="ResultVO"
		parameterType="hashmap">
		SELECT * FROM covid_result
		WHERE DATE(result_date)
		BETWEEN #{startDate} AND #{endDate}
	</select>
</mapper>




