<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.covid.mapper.MapMapper">
	<!-- 반경 5km 이내 백신접종센터 DB 조회 -->
	<select id="getLocalCenter" resultType="CenterVO" parameterType="double">
		SELECT * FROM covid_vaccine_center
		WHERE (LAT BETWEEN (#{param1}-0.02) AND (#{param1}+0.02)) AND (LNG BETWEEN (#{param2}-0.022) AND (#{param2}+0.022))
	</select>
</mapper>




