@charset "UTF-8";

.footer_section {
	background: #fff none repeat scroll 0 0;
	border-top: 1px solid rgba(85, 85, 85, 0.082);
	border-bottom: 1px solid rgba(85, 85, 85, 0.082);
	box-shadow: rgba(0, 0, 0, 0.022) -1px 1px 1px;
}

.footer_wrap {
	padding: 10px 10px;
}

@media ( min-width : 768px) {
	.footer_section {
		border: 1px solid rgba(85, 85, 85, 0.082);
		border-radius: 8px;
	}

}