@charset "UTF-8";

@import "board.css";

@import "/resources/css/chart.css";

@import "/resources/css/map.css";

@import "/resources/css/chatbot.css";

body {
	margin: 0;
	overflow-x: hidden;
}

.wrap {
	padding: 40px 40px;
	display: flex;
	justify-content: center;
}

.container {
	width: 510px;
}
